DATABASE_URL=postgresql://neondb_owner:npg_mwGkV2oIUvn1@ep-quiet-moon-apiiq1pz-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=5000
NODE_ENV=production

# ImageKit Configuration
IMAGEKIT_PUBLIC_KEY=public_D3EtpIkicxqxYhpV60PuHe/lDwc=
IMAGEKIT_PRIVATE_KEY=private_...
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/mrhpgguo2
